.campo-digitacao {
  font-size: 20px;
  height: 130px;
  border: 3px solid;
}

.frase {
  font-size: 20px;
  text-align: left;
}

.campo-desativado {
  background-color: lightgray;
}

.icones {
  vertical-align: middle;
}

.borda-verde {
  border: 3px solid green;
}

.borda-vermelha{
  border: 3px solid red;
}

.placar {
  display: none;
}

body {
  overflow: scroll;
}

#erro {
  color: red;
  display: none;
}

#sync-erro {
  color: red;
  display: none;
}

#sync {
  color: green;
  display: none;
}

#spinner {
  display: none;
}

#frase-id {
  width: 30px;
}

#botao-sync {
  float: right;
}

.select-usuarios {
  display: inline-block;
}

#usuarios {
  display: block;
}

.selectize-input {
  width: 150px;
  vertical-align: middle;
}
